<a href="https://colab.research.google.com/github/Muktamohod/Python/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hii')
print('abcd\nefgh\nijkl')
print('Welcome\nto\npython')
print('ram'*3)
print(3*('Nag'+'pur'))

Hii
abcd
efgh
ijkl
Welcome
to
python
ramramram
NagpurNagpurNagpur

In [ ]:
a,b,c=10,20,30
print('value are',a,b,c)
print(a,b,c,sep='-')
print(a,b,c,sep='*')
print(a,b,c,sep=' ')

value are 10 20 30
10-20-30
10*20*30
10 20 30

In [ ]:
print('Hello',end=' ')
print('World')
print('India')

Hello World
India

In [ ]:
for i in range(3,20):
  print(i,end=' ')
for i in range(5):
  print(i,end=' | ')

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 | 1 | 2 | 3 | 4 |

In [ ]:
print('python','java','c++',sep=' | ',end=' \n')
print('green','red','blue',sep='-',end='      \n' )

python | java | c++
green-red-blue

In [ ]:
name='ram'
age=25
salary=58.87734
print("my name is %s I am %d year old my salary is %.4f"%(name,age,salary))

my name is ram I am 25 year old my salary is 58.8773

In [ ]:
name ='Neha'
age=24
print('Name:',{name})

Name: {'Neha'}

In [ ]:
name="ramesh"
print(f"hello,{name}")
name="vaibhav"
age=23
print(f'my name is{name}and I am {age}year old.')

In [ ]:
m='good day'
print(f'See Right{m:>10}')
print(f'See Left{m:<10}')
print(f'See Middle{m:^10}')

In [ ]:
a=5
b=2
print(f"{a}/{b}=",a/b)
print(f"{a}//{b}=",a//b)
print(f"{a}%{b}=",a%b)
print(f"{a}**{b}=",a**b)

5/2= 2.5
5//2= 2
5%2= 1
5**2= 25

In [ ]:
a=10
b=3
print("Bitwise Operator")
print("a & b=",a&b)
print("a | b=",a | b)
print("a^b=",a^b)
print("~a=",~a)
print("~b=",~b)

Bitwise Operator
a & b= 2
a | b= 11
a^b= 9
~a= -11
~b= -4

In [ ]:
print(10<<1) #left shift 10*(2**1)=20  a*(2**n)
print(2<<4)
print(10>>1)  #Right shift  10//2=5  a//(2**n)
print(10>>3)

20
32
5
1

In [ ]:
c=5
c+=2
print('c+=2',c)
c*=2
print("c*=2",c)
c-=2
print("c-=2",c)
c/=2
print("c/=2",c)

c+=2 7
c*=2 14
c-=2 12
c/=2 6.0

In [ ]:
#Identity operator
a=3
b=4
print("a is b",a is b)
print("a is not b",a is not b)

a is b False
a is not b True

In [ ]:
l1=[1,2,3]
l2=[1,2,3]
print(l1 is l2)
print('ML of L1 list',id(l1))
print('ML of L2 list',id(l2))

False
ML of L1 list 137339397405184
ML of L2 list 137339408621376

In [ ]:
#Membership operator
print("Membership operator")
Lst=[1,2,3,10]
print("10 in list",10 in Lst)
print("5 in list",15 in Lst)

Membership operator
10 in list True
5 in list False

In [ ]:
Lst=[1,2,3,10]
for x in Lst:
  if x%2==0:
    print(f'{x} is even no.')
  else:
    print(f'{x} is odd no.')

1 is odd no.
2 is even no.
3 is odd no.
10 is even no.

In [ ]:
#Various String Operations

#print('entc'+0)

print('entc'+'branch')

print('entc'+' '+'branch')

print('entc'*3)

print('entc'*0) #empty

#print('entc'* 'branch')

print(14*'ram')

#Conclusion:+-->Both Arguments Should be string
#           *-->str and Int or Int and str

entcbranch
entc branch
entcentcentc

ramramramramramramramramramramramramramram

In [ ]:
#ASCII Comparision

print(ord('A'))
print(ord('a'))
print(ord('d'))
print(ord('D'))
print('a'>'A')
print('abcd'>'abcD')

65
97
100
68
True
True

In [ ]:
#special camp
print(10<20<30)
print(10<20<30<40>50)
print(10==10.0)
print('Engg'==10)
print(10=='10')

True
False
True
False
False

In [ ]:
#Not oper
print(not 10)
print(not 0)
print(not '')
print(not ' ')
print(not'Engg')

False
True
True
False
False

In [ ]:
#And oper
#if x is true then result is y
#if x is False then result is x
print(10 and 20)
print(0 and 20)
print('entc' and 'branch')
print('' and 'branch')

20
0
branch

In [ ]:
#OR oper
#if x is true then result is x
#if x is False then result is y
print(10 or 20)
print(0 or 20)
print('entc' or 'branch')
print('' or 'branch')

10
20
entc
branch

In [ ]:
#Appli
usr=input('Enter user Name:')
pwd=input('Enter password:')
if usr=='rama'and pwd=='cse':
  print("valid")
else:
  print('invalid')

Enter user Name:pam
Enter password:348
invalid

In [ ]:
n1=int(input('Enter 1st no.'))
n2=int(input('Enter 2nd no.'))
max=n1 if n1>n2 else n2
print(max)

In [ ]:
a=10
b=20
c=30

max=a if a>b and a>c else b if b>c else c
print('Maximum no.',max)

Maximum no. 30

In [ ]:
import math
print(math.sqrt(16))
math.sin(math)

4.0

In [ ]:
import os
print(os)

<module 'os' (frozen)>

In [ ]:
print('math.floor(3.7):',math.floor(3.7))
print('math.ceil(3.7):',math.ceil(3.7))
print('math.trunc(3.7):',math.trunc(3.7))

print('math.floor(-3.7):',math.floor(-3.7))
print('math.ceil(-3.7):',math.ceil(-3.7))
print('math.trunc(-3.7):',math.trunc(-3.7))

math.floor(3.7): 3
math.ceil(3.7): 4
math.trunc(3.7): 3
math.floor(-3.7): -4
math.ceil(-3.7): -3
math.trunc(-3.7): -3

In [ ]:
!pip install num2words


from num2words import num2words
num=int(input("Enter a num:"))
words= num2words(num,lang='en_IN')
print(words.title())

Requirement already satisfied: num2words in /usr/local/lib/python3.11/dist-packages (0.5.14)
Requirement already satisfied: docopt>=0.6.2 in /usr/local/lib/python3.11/dist-packages (from num2words) (0.6.2)
Enter a num:56
Fifty-Six

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)

In [ ]:
#wap to check no.is bet 1 to 99
#marks--> grade A,B,C
mark=78
mark=int(input("Enter marks:"))
if mark>=90:
  print("Grade A")
elif mark>=75:
  print("Grade B")
elif mark>=60:
  print("Grade c")
else:
  print("Grade F")

Enter marks:56
Grade F

In [ ]:
num=int(input("Enter no.:"))
if num%2==0:
  print(f"Number {num} is even")
else:
  print(f"Number {num} is odd")

Enter no.:7
Number 7 is odd